:root {
  --background_color: #312b33;
  --text_color: #c0fce7;
  --dark_text: #001313;
  --light_background: #3d3e4c;
}

body {
  font-family: "JetBrains Mono", monospace;
  background-color: var(--background_color);
  color: var(--text_color);
  font-size: 1em;
}
